<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="parameters" value ="o3,pm25,pm10,co,so2,no2"/>

    <!--limit values in µg/m³-->
    <add key="o3:Good:max" value="105.84"/>
    <add key="o3:Moderate:max" value="137.2"/>
    <add key="o3:UnhealthyForSensitive:max" value="166.6"/>
    <add key="o3:Unhealthy:max" value="205.8"/>
    <add key="o3:VeryUnhealthy:max" value="392"/>

    <add key="pm25:Good:max" value="12"/>
    <add key="pm25:Moderate:max" value="35.4"/>
    <add key="pm25:UnhealthyForSensitive:max" value="55.4"/>
    <add key="pm25:Unhealthy:max" value="150.4"/>
    <add key="pm25:VeryUnhealthy:max" value="250.4"/>

    <add key="pm10:Good:max" value="54"/>
    <add key="pm10:Moderate:max" value="154"/>
    <add key="pm10:UnhealthyForSensitive:max" value="254"/>
    <add key="pm10:Unhealthy:max" value="354"/>
    <add key="pm10:VeryUnhealthy:max" value="424"/>

    <add key="co:Good:max" value="5042.4"/>
    <add key="co:Moderate:max" value="10772.4"/>
    <add key="co:UnhealthyForSensitive:max" value="14210.4"/>
    <add key="co:Unhealthy:max" value="17648.4"/>
    <add key="co:VeryUnhealthy:max" value="34838.4"/>

    <add key="so2:Good:max" value="91.7"/>
    <add key="so2:Moderate:max" value="196.5"/>
    <add key="so2:UnhealthyForSensitive:max" value="484.7"/>
    <add key="so2:Unhealthy:max" value="796.48"/>
    <add key="so2:VeryUnhealthy:max" value="1582.48"/>

    <add key="no2:Good:max" value="99.64"/>
    <add key="no2:Moderate:max" value="188"/>
    <add key="no2:UnhealthyForSensitive:max" value="676.8"/>
    <add key="no2:Unhealthy:max" value="1220.12"/>
    <add key="no2:VeryUnhealthy:max" value="2348.12"/>

    <add key="getLocationsUrl" value="https://api.openaq.org/v2/locations"/>

    <add key="Good" value="Good"/>
    <add key="Unknown" value="Unknown"/>
    <add key="Moderate" value="Moderate"/>
    <add key="Unhealthy" value="Unhealthy"/>
    <add key="UnhealthyForSensitive" value="Unhealthy For Sensitive"/>
    <add key="VeryUnhealthy" value="Very Unhealthy"/>
    <add key="Hazardous" value="Hazardous"/>
  </appSettings>
</configuration>